<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/prestations']" routerLinkActive="active">Prestations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/clients']" routerLinkActive="active">Clients</a>
  </li>
</ul>
