<tr>
  <td>{{ item.name }}</td>
  <td>{{ item.email }}</td>
  <td [appState]="item.state">
    <select [(ngModel)]="item.state" (change)="update($event)">
      <option *ngFor="let state of states | keyvalue" [value]="state.value" >{{ state.value }}</option>
    </select>
  </td>
</tr>
