<div class="card" *ngIf="presta$ | async as presta">
  <div class="card-header">
    {{ presta.client }}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nb jours : {{ presta.nbJours }}</li>
    <li class="list-group-item">Taux TVA : {{ presta.tauxTva }}</li>
    <li class="list-group-item">Tjm HT : {{ presta.tjmHt }}</li>
    <li class="list-group-item">Total HT : {{ presta | total }}</li>
    <li class="list-group-item">Total TTC : {{ presta | total:presta.tauxTva }}</li>
  </ul>
</div>
