@import 'theme', 'fonts';

section {
  background: $palette-color-one;
  padding: 2rem;
  text-align: center;
  h1 {
    color: $light-color;
    font-size: $h1-fontsize;
    margin: 0;
    margin-bottom: 1em;
  }
  p {
    color: $light-color;
    font-size: $regular-fontsize;
    margin: 0;
  }
}

