<app-tableau [headers]="headers">
  <app-item-prestation *ngFor="let item of collection$ | async" [item]="item" (itemAndState)="update($event)" (clicked)="removeClassActive()"></app-item-prestation>
</app-tableau>

<app-bouton [labelButton]="labelButton"></app-bouton>
