@import 'theme', 'layout';

td button {
  display: inline-block;
  background: $aqua;
  padding: .2rem 1rem;
  border-radius: 4rem;
  border-color: $deep-sky-blue;
  color: $light-color;
  margin-left: $gutters;
  z-index: 25px;

  i {
    color: $medium-blue;
  }
 }
