<tr (click)="getDetail()" [ngClass]="{'state-option': colorTd}">
  <td>{{ item.typePresta }}</td>
  <td>{{ item.client }}</td>
  <td>{{ item.nbJours }}</td>
  <td>{{ item.tjmHt | currency:'EUR' }}</td>
  <td>{{ item | total | currency:'EUR' }}</td>
  <td>{{ item | total: item.tauxTva | currency:'EUR' }}</td>
  <td [appState]="item.state">
    <select [(ngModel)]="item.state" (change)="update($event)" (click)="$event.stopPropagation()">
      <option *ngFor="let state of states | keyvalue" [value]="state.value">{{ state.value }}</option>
    </select>
  </td>
  <td >
    <button (click)="redirectEditItem()"><i class="fas fa-edit"></i></button>
  </td>
</tr>
