@import 'theme';


#tab .state-annule {
  background: lighten($palette-color-one, 20);
}

#tab .state-option {
  background: $palette-color-one;
}

#tab .state-confirme {
  background: $palette-color-three;
}

#tab .state-actif {
  background: $palette-color-one;
}

#tab .state-inactif {
  background: $palette-color-three;
}

#tab tbody > * {
  display: contents;
}

app-template-b #tab thead {
  background:lighten($dark-color, 40);
  color: $light-color;
}
