<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="emial" class="form-control" id="email" formControlName="email">
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <select class="form-control" id="state" formControlName="state">
        <option *ngFor="let state of states | keyvalue" [value]="state.value">{{ state.value }}</option>
      </select>
    </div>

    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
