<app-tableau [headers]="headers">
  <app-item-client *ngFor="let item of collection$ | async" [item]="item" (itemAndState)="update($event)"></app-item-client>
</app-tableau>

<app-bouton [labelButton]="labelButton"></app-bouton>
