<form [formGroup]="form" class="container" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="typePresta">Type</label>
    <input type="text" class="form-control" id="typePresta" formControlName="typePresta">
    <div class="alert alert-danger" *ngIf="form.get('typePresta').invalid && form.get('typePresta').touched">Champ invalide</div>
  </div>

  <div class="form-group">
    <label for="client">Client</label>
    <input type="text" class="form-control" id="client" formControlName="client">
    <div class="alert alert-danger" *ngIf="form.get('client').invalid && form.get('client').touched">Champ invalide</div>
  </div>

  <div class="form-group">
    <label for="nbJours">Nb jours</label>
    <input type="number" class="form-control" id="nbJours" formControlName="nbJours">
  </div>

  <div class="form-group">
    <label for="tjmHt">Tjm HT</label>
    <input type="number" class="form-control" id="tjmHt" formControlName="tjmHt">
  </div>

  <div class="form-group">
    <label for="tva">TVA</label>
    <input type="number" class="form-control" id="tva" formControlName="tauxTva">
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select class="form-control" id="state" formControlName="state">
      <option *ngFor="let state of states | keyvalue" [value]="state.value">{{ state.value }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="comment">Commentaire</label>
    <textarea type="text" class="form-control" id="comment" formControlName="comment"></textarea>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
